* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: 'Oxanium', sans-serif;
}

body {
    background: #1E1629;
}

.wallet-texts {
    color: #FFFFFF;
    text-align: center;
}

.wallet-texts p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    text-transform: capitalize;

    padding-top: 8rem;
    font-size: 1.5rem;
    line-height: 30px;

    background: linear-gradient(90.13deg, #0E849A 0%, #F81DFB 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wallet-texts h1 {
    font-family: 'Oxanium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 6rem;
    line-height: 125px;
    margin-bottom: 3rem;
}

.wallet-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.wallet-contents p {
    color: #FFFFFF;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 25px;  
}

.wallet-contents img {
    width: 12rem;
    margin: 20px auto;

    background-image: linear-gradient(147.75deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);;
    border-radius: 50%;
    padding: 20px;   
}

.wallet-contents li a {  
    width: 18rem;
    height: 22rem;  
    background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
    backdrop-filter: blur(10px);
    
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
