* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  font-size: 62.5%;
  font-family: "Oxanium", sans-serif;
  text-decoration: none;

  --cf-secundary: #fff;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1e1629;
}

header {
  display: flex;
  font-family: "Oxanium", sans-serif;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem 12.15rem 0 12.15rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 62px;
}

header nav {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  align-items: center;
  padding: 0 6.45rem;
  height: 8rem;
  border-radius: 0.4rem;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 5rem;
  list-style: none;
}

header nav li a {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  transition: font-size 0.2s;
}

header nav li a:hover {
  font-size: 2rem;
}

.user {
  display: flex;
  gap: 3.2rem;
}

.user button {
  padding: 10px 16px;

  background: #ad1aaf;
  border-radius: 0.4rem;
}

.user button:hover {
  background: #79127a;
}

.user button a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  transition: font-size 0.2s;
}

.user button a:hover {
  font-size: 2rem;
}

.user img {
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-footer {
  display: flex;
  align-self: top;
}

.logo-footer h1 {
  font-family: "Oxanium", sans-serif;

  font-weight: 700;
  font-size: 5rem;
  line-height: 6rem;

  color: #fff;
  align-self: center;
}

.social {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  height: 2.7rem;
  color: #96839b;
  width: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.icons {
  text-decoration: none;
  display: flex;
  gap: 1.5rem;
}

.icons img {
  width: 2rem;
  height: 2rem;
}

.about-support li a {
  display: flex;
  flex-direction: column;
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  height: 2.7rem;
  color: #96839b;
  gap: 1.8rem;
}

#about,
#support {
  color: #fff;
  font-size: 1.7rem;
  height: 2.7rem;
  font-weight: 700;
}

.hero {
  width: 54.6rem;
  height: 23.475rem;
  margin-left: 3.5rem;
}

.hero h1 {
  font-family: "Oxanium", sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 6rem;
  text-transform: uppercase;
}

.hero p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.875rem;
  line-height: 2.25rem;

  color: #fff;

  margin-top: 3.225rem;
}

.container {
  width: 24.75rem;
  height: 29.7rem;
  background: linear-gradient(
    160.61deg,
    rgba(255, 255, 255, 0.01) 0%,
    rgba(255, 255, 255, 0.05) 101.7%
  );
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.4);
  border-width: 0.25rem 0rem;
  backdrop-filter: blur(1.75rem);
  border-radius: 3.15rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container img {
  width: 21.57rem;
  height: 21rem;
}

.container h4 {
  font-family: "Oxanium", sans-serif;
  font-size: 1.875rem;
  line-height: 2.343rem;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 0.6rem;
}

.container p {
  font-family: "Oxanium", sans-serif;
  font-size: 1.275rem;
  line-height: 1.593rem;
  color: #fff;
}

.hero button {
  font-family: "Oxanium", sans-serif;
  font-size: 2.475rem;
  line-height: 3.15rem;
  font-weight: 500;
  color: #fff;

  width: 20.3rem;
  height: 5.25rem;

  margin-top: 6rem;
  margin-right: 2.5rem;
}

.hero .b1 {
  background: #ad1aaf;
  border: 1px solid #ad1aaf;
}

.hero .b2 {
  background: #1e1629;
  border: 1px solid #ad1aaf;
}

.hero button:hover {
  border-color: aqua;
  font-size: 2.25rem;
}

.big-hero {
  margin-top: 11.475rem;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.hero-card {
  width: 35.45rem;
  height: 27.15rem;
  display: flex;
}

#card-one {
  position: absolute;
  z-index: 1;
  right: 22rem;
  top: 8.25rem;

  background: linear-gradient(
    160.61deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0.05) 57.1%
  );
}

#card-two {
  position: absolute;
  right: 34.75rem;
  top: 15rem;
}

#card-three {
  position: absolute;
  right: 5.25rem;
  top: 19.05rem;
}

#milky {
  position: absolute;
  z-index: -1;
  width: 100vw;
  bottom: -170px;
}

.wallet-texts {
  color: #ffffff;
  text-align: center;
}

.wallet-texts p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  text-transform: capitalize;

  padding-top: 8rem;
  font-size: 1.5rem;
  line-height: 30px;

  background: linear-gradient(90.13deg, #0e849a 0%, #f81dfb 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wallet-texts h1 {
  font-family: "Oxanium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 6rem;
  line-height: 125px;
  margin-bottom: 3rem;
}

.wallet-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.wallet-contents p {
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 25px;
}

.wallet-contents img {
  width: 12rem;
  margin: 20px auto;

  background-image: linear-gradient(
    147.75deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  border-radius: 50%;
  padding: 20px;
}

.wallet-contents li a {
  width: 18rem;
  height: 22rem;
  background: linear-gradient(
    147.75deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  backdrop-filter: blur(10px);

  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

/* How it works */
.how-work {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 15rem 0;

  background-image: url(/assets/Blurr-effec.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.how-work h1 {
  padding: 2rem;

  color: #f5fbf2;
  font-size: 4.8rem;
  line-height: 9.75rem;
  font-family: "Oxanium", sans-serif;

  text-transform: capitalize;
}

.how-steps ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.how-steps ul li {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;
}

.how-steps p {
  color: #ffffff;
  font-size: 18px;

  margin-bottom: 1rem;
}

.images {
  padding: 34px;
  border-radius: 50%;
  background-image: linear-gradient(
    147.75deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  padding: 20px;
}

.wallet-contents li a {
  width: 18rem;
  height: 22rem;
  background: linear-gradient(
    147.75deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  backdrop-filter: blur(10px);

  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.newsletter {
    margin-bottom: 5rem;
}

.input-newsletter {
    display: flex;
    align-items: center;
   
    background-color: #1E1629;
    border: 1px solid #AD1AAF;
    border-radius: 8px;

    width: 55rem;
    padding: 8px 32px 8px 0;

    margin: 0 auto;

}

.newsletter button {
    background-color: #AD1AAF;
    border-radius: 10px;

    padding: 16px;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter h2 {
    font-family: 'Oxanium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 6rem;
    line-height: 125px;
    margin-top: 5rem;
    margin-bottom: 3rem;

    text-align: center;

    color: #F5FBF2;
}

#event-email {    
    padding: 0 24px;

    font-size: 2.4rem;
    line-height: 26px;

    color: #6c6a71;

    outline: none;

    background: transparent;
    border: none;

    flex: 1; 
}

.trending-container {
  width: 130.15rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2.475rem;
}

.trending-NFTs {
  min-width: 144rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trending-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 150.65rem;
  margin: auto;
  margin-bottom: 6.075rem;
}

.trending-title p {
  font-family: 'Lato', sans-serif;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: #fff;

  margin-top: 15.15rem;
}

.trending-title h1 {
  font-family: 'Oxanium', sans-serif;
  font-weight: 500;
  font-size: 7.5rem;
  /* line-height: 9.375; */
  color: #fff;
}

.trending-title button {
  width: 12.3rem;
  height: 3.225rem;

  background: #1E1629;
  border: 1px solid #AD1AAF;
  color: #FFF;
}

.view-trending {
  align-self: flex-end;
  font-family: 'Oxanium', sans-serif;
  font-size: 1.35rem;
  line-height: 1.65rem;
  text-align: center;
}

.trending-content {
  display: flex;
}

.trending-card {
  width: 29.55rem;
  height: 40.725rem;
  background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
  backdrop-filter: blur(10px);
  border-radius: 15px; 
  color: #fff;
  display: flex;
  flex-direction: column;
}

.principal{
  width: 27.75rem;
  height: 19.575rem; 
  align-self: center;  
  margin-top: 1rem;
  border-radius: 16px;
}

.trending-card-top {
  width: 7.2rem;
  height: 3.75rem;

  background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
  backdrop-filter: blur(10px);
  border-radius: 0px 15px;

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 1rem;
  left: 21.5rem;

  gap: 0.678rem;
}

.heart{   
  width: 1.125rem;
  height: 1.125rem;
}

.first-trending {
  margin-top: 1.5rem;
  margin-left: 2.55rem;
  display: flex;
  gap: 1.05rem;
}

.users-trending {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
}

.trending-box {
  width: 15.625rem;
  display: flex;
  flex-direction: column;
}

.trending-user-name {
  font-family: "Oxanium", sans-serif;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.3rem;
}

.trending-designer {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.05rem;
  line-height: 1.275rem;
  letter-spacing: 0.05em;
}

.second-trending {
  margin-top: 3.45rem;
  margin-left: 2.55rem;
  display: flex;
  gap: 1.05rem;
}

.trending-sale {
  font-family: 'Oxanium';
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.05em;
}

.diamont {
  width: 1.515rem;
  height: 1.515rem;
  margin-right: 10.5rem;  
}

.ethereum {
  width: 1.515rem;
  height: 1.515rem;
}

.trending-etherium {
  font-family: "Oxanium", sans-serif;
  font-size: 1.5rem;
  line-height: 1.875rem;
  letter-spacing: 0.05em;
}

.trending-dolar {
  font-family: "Oxanium", sans-serif;
  font-size: 1.05rem;
  line-height: 1.35rem;
  letter-spacing: 0.05em;
}

.trending-card button {
  width: 80%;
  height: 4.5rem;
  font-family: 'Oxanium';
  font-weight: 500;
  font-size: 1.35;

  background: rgba(248, 29, 251, 0.05);
  border: 1px solid #F81DFB;
  color: #fff;
  align-self: center;
  margin-top: 2.25rem;
}
